.wrapper {
  display: grid;
  grid-gap: 1rem;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  background-color: slate;
  color: white;
}
body {
  color: aliceblue;
  font-size: 1.25rem;
}
h2,
td {
  text-align: center;
  vertical-align: middle;
  color: aliceblue;
  border: 0;
}
button {
  border-radius: 10%;
}
.no-funds {
  background-color: gray;
  color: rgb(178, 195, 211);
}

.resourceNFTs {
  background-color: blueviolet;
}
.orchidNFTs {
  background-color: coral;
}

.common {
  background-color: red;
}
.uncommon {
  background-color: orange;
}
.rare {
  background-color: rgb(216, 216, 55);
  color: black;
}
.epic {
  background-color: green;
}
.legendary {
  background-color: yellowgreen;
}
.category {
  font-size: 2rem;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
option:disabled {
  background-color: dimgrey !important;
  color: gray !important;
  opacity: 1;
}

.notice {
  font-size: 0.7rem;
}

.hint {
  color: black;
  background-color: black;
}
.hint:hover {
  color: white;
}
